<?xml version="1.0" encoding="UTF-8"?> 
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"> 
  <Product Id="*" Name="EdgeNodeLauncher" Language="1033" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="61DAB716-7CE9-4F67-BC46-7ADB96FB074A"> 
    <Package InstallerVersion="200" Compressed="yes" /> 
    <MediaTemplate EmbedCab="yes" /> 
    <Icon Id="AppIcon.ico" SourceFile="dist\EdgeNodeLauncher.exe" /> 
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" /> 
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" /> 
    <UIRef Id="WixUI_InstallDir" /> 
    <Binary Id="LicenseRtf" SourceFile="wix\license_embedded.rtf" /> 
    <WixVariable Id="WixUILicenseRtf" Value="wix\license_embedded.rtf" /> 
    <Feature Id="ProductFeature" Title="EdgeNodeLauncher" Level="1"> 
      <ComponentRef Id="ApplicationComponent" /> 
      <ComponentRef Id="DesktopShortcutComponent" /> 
    </Feature> 
    <Directory Id="TARGETDIR" Name="SourceDir"> 
      <Directory Id="ProgramFilesFolder"> 
        <Directory Id="INSTALLDIR" Name="EdgeNodeLauncher"> 
          <Component Id="ApplicationComponent" Guid="*"> 
            <File Id="ApplicationExe" Source="dist\EdgeNodeLauncher.exe" KeyPath="yes" /> 
          </Component> 
        </Directory> 
      </Directory> 
      <Directory Id="DesktopFolder" Name="Desktop"> 
        <Component Id="DesktopShortcutComponent" Guid="*"> 
          <Shortcut Id="DesktopShortcut" 
                    Name="EdgeNodeLauncher" 
                    Description="Launch the Edge Node Launcher application" 
                    Target="[INSTALLDIR]EdgeNodeLauncher.exe" 
                    WorkingDirectory="INSTALLDIR" 
                    Icon="AppIcon.ico" /> 
          <RemoveFolder Id="DesktopFolder" On="uninstall" /> 
          <RegistryValue Root="HKCU" Key="Software\EdgeNodeLauncher" Name="installed" Type="integer" Value="1" KeyPath="yes" /> 
        </Component> 
      </Directory> 
    </Directory> 
  </Product> 
</Wix> 
